<div class="col-md-2"></div>
<div class="col-md-8">
  <h2>{{html apis.h2}}</h2>
  <p>{{html apis.subtitle}}</p>
  {{#each apis.ideas}}
      <h4>{{html title}}</h4>
      <ul>
          <li>{{html description}}</li>
      </ul>
  {{/each}}
  <p>{{html apis.footer}}</p>
</div>
<div class="col-md-2"></div>
