<div class="col-md-2"></div>
<div class="col-md-8">
  <h2>{{html inspiration.h2}}</h2>
  <p>{{html inspiration.subtitle}}</p>
  {{#each inspiration.ideas}}
      <h4>{{html title}}</h4>
      <ul>
          <li>{{html description}}</li>
      </ul>
  {{/each}}
  <p>{{html inspiration.footer}}</p>
</div>
<div class="col-md-2"></div>
